@use "../vars";
@use '../mixins/responsive';

.basket {

  .container {
    @include responsive.media-breakpoint-down(1400) {
      padding-bottom: 0!important;
    }
  }

    &__content {
      margin-bottom: 80px;
      @include responsive.media-breakpoint-down(1400) {
        margin-bottom: 24px;
      }
      @include responsive.media-breakpoint-down(768) {
        margin-bottom: 52px;
      }
    }

  @include responsive.media-breakpoint-down(768) {
    .btn--watch-all {
      display: none!important;
    }

    .bestPrice .swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
      bottom: -24px;
    }
  }

    .bestPrice {
      margin-bottom: 40px;
      @include responsive.media-breakpoint-down(1400) {
        margin-bottom: 85px;
      }

      @include responsive.media-breakpoint-down(768) {
        margin-bottom: 54px;
      }
    }

    &__block-empty-basket {
        display: grid;
        justify-items: center;
        align-content: center;
        min-height: 230px;
    }

    &__empty-title,
    &__empty-subtitle {
        text-align: center;
    }

    &__empty-title {
        font-size: 22px;
        font-weight: 500;
        line-height: 1.35em;
        letter-spacing: -0.286px;
    }

    &__empty-subtitle {
        margin-top: 8px;
        color: vars.$gray;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5em;
        letter-spacing: -0.24px;
    }

    &__empty-btn.btn {
        margin-top: 24px;
        padding: 12px 20px;
    }

    &__content {}

    &__block-title {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__title {

        span {
            font-size: 14px;
            color: vars.$gray;
            margin-left: 8px;
            font-weight: 400;
            line-height: 1em;
        }
    }

    &__inner {
        display: grid;
        grid-template-columns: minmax(100px, 1030px) 350px;
        justify-content: space-between;
        align-items: start;
        grid-column-gap: 15px;
        grid-column-gap: 40px;
        margin-top: 32px;
    }

    &__wrap-cards {}

    &__list-features {
        display: grid;
        grid-template-columns: minmax(100px, 457px) 120px repeat(2, 127px);
        justify-content: space-between;
        padding-right: 68px;
        list-style-type: none;

        li {
            font-size: 12px;
            color: vars.$gray;
        }
    }

    &__inner-cards {
        display: grid;
        grid-row-gap: 12px;
        margin-top: 12px;
    }
}
