@use "../vars";

.btn {
  background: vars.$red;
  padding: 13px 29px;
  font-size: 16px;
  color: vars.$white;
  border-radius: 8px;
  transition: .3s;
  border: 1px solid vars.$red;
  &:hover {
    background: vars.$white;
    color: vars.$red;
  }
}

.btn--reverse {
  background: vars.$white;
  padding: 13px 29px;
  font-size: 16px;
  color: vars.$red;
  border-radius: 8px;
  transition: .3s;
  border: 1px solid vars.$red;
  &:hover {
    background: vars.$red;
    color: vars.$white;
  }
  &:active {
    background: vars.$redActive;
  }
}

.btn--white {
  background: vars.$white;
  padding: 13px 29px;
  font-size: 16px;
  color: vars.$black;
  border-radius: 8px;
  transition: .3s;
  border: 1px solid vars.$lightgray;
  &:hover {
    background: vars.$red;
    color: vars.$white;
  }
  &:active {
    background: vars.$redActive;
  }
}
