@use '../mixins/responsive';
@use "../vars";

.filter__result-float {
  position: absolute;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid vars.$lightgray;
  background: vars.$white;
  right: -167px;
  z-index: 25;
  visibility: hidden;
  transform: scale(0);
  transition: .3s;
  &.visible {
    visibility: visible;
    transform: scale(1);
  }
  p {
    margin-bottom: 10px;
    font-size: 13px;
  }
  .btn {
    padding: 5px 29px;
  }
  @include responsive.media-breakpoint-down(576) {
    display: none;
  }
}
