@use "../vars";

.info-block {
    display: grid;
    grid-template-columns: max-content auto;
    grid-column-gap: 8px;
    padding: 16px;
    border: 1px solid vars.$lightgray;
    border-radius: 8px;

    &[href]:hover &__title {
        color: vars.$red;
    }

    &__icon {
        width: 24px;
        height: 24px;
    }

    &__info {
        display: grid;
    }

    &__title {
        font-size: 16px;
        line-height: 1.5em;
        letter-spacing: -0.24px;
        color: vars.$dark;
        transition: color 0.3s;
    }

    &__subtitle {
        font-size: 14px;
        line-height: 1.45em;
        color: vars.$gray;

        &[href],
        a {
            transition: color 0.3s;

            &:hover {
                color: vars.$red;
            }
        }

        a {
            display: inline;
            color: inherit;
            font-size: inherit;
            line-height: inherit;
        }
    }
}