@use '../mixins/responsive';
@use "../vars";

.scrollToTop {
  position: fixed;
  bottom: 100px;
  right: 17px;
  width: 30px;
  height: 30px;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 999px;
  &.show {
    opacity: 1;
    visibility: visible;
  }
  img {
    width: 100%;
    border-radius: 999px;
    box-shadow: 0px 2px 24px rgba(48, 46, 56, 0.36);
  }

  span {
    font-size: 12px;
    text-align: center;
  }
  @include responsive.media-breakpoint-up(1024) {
    bottom: 50px;
    right: 26px;
    width: 40px;
    height: 40px;
    img {
      min-width: 40px;
      min-height: 40px;
    }
    &:hover {
      transform: scale(1.15);
      box-shadow: 0px 4px 24px rgba(48, 46, 56, 0.36);
    }
  }
}
