@use '../mixins/responsive';
@use "../vars";


.main__slider {
  position: relative;
  max-height: 100%;
  @include responsive.media-breakpoint-up(1024) {
    max-height: 380px;
  }

  @include responsive.media-breakpoint-up(1600) {
    max-height: 420px;
  }

  .swiper-slide {
    display: flex;
    padding: 0;
    gap: 10px;
    flex-direction: column;
    @include responsive.media-breakpoint-up(568) {
      gap: 16px;
    }

    @include responsive.media-breakpoint-up(1024) {
      flex-direction: row;
      gap: 20px;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }



  .mainSlider__img {
    width: 100%;
    max-height: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;

    @include responsive.media-breakpoint-up(768) {
      max-height: 320px;
      height: 320px;
    }

    @include responsive.media-breakpoint-up(1024) {
      max-height: 380px;
      height: 380px;
    }

    @include responsive.media-breakpoint-up(1600) {
      max-height: 420px;
      height: 100%;
    }
  }
}


.slider--568 {
  display: block;
  border-radius: 12px;
  overflow: hidden;
}

.slider--768, .slider--1024, .slider--1920 {
  display: none;
}

@include responsive.media-breakpoint-up(568) {
  .slider--568, .slider--1024, .slider--1920 {
    display: none;
  }

  .slider--768 {
    display: block;
    border-radius: 12px;
    overflow: hidden;
  }
}

@include responsive.media-breakpoint-up(768) {
  .slider--568, .slider--768, .slider--1920 {
    display: none;
  }

  .slider--1024 {
    display: block;
    border-radius: 12px;
    overflow: hidden;

    a {
      max-height: 320px;
    }
  }
}

@include responsive.media-breakpoint-up(1024) {
  .slider--568, .slider--768, .slider--1024 {
    display: none;
  }

  .slider--1920 {
    display: block;
    border-radius: 12px;
    overflow: hidden;
    &-wrapper {
      display: flex;
      max-height: 380px;
    }
  }
}

@include responsive.media-breakpoint-up(1600) {
  .slider--1920-wrapper {
    max-height: 420px;
  }
}

.mainSlider__desktop-block {
  background: vars.$lightgray2;
  padding: 16px;
  gap: 12px;
  @include responsive.media-breakpoint-up(1600) {
    padding: 24px;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  flex-basis: 50%;
}


.mainSlider__desktop-block-img {
  max-width: 26px;
  max-height: 26px;
  height: 100%;
  width: 100%;
  img {
    width: 100%;
  }
}

.mainSlider__desktop-block-title {
  font-size: 18px;

  @include responsive.media-breakpoint-up(568) {
    font-size: 22px;
  }
  font-weight: 500;
  margin-bottom: 4px;
}

.mainSlider__desktop-block-text {
  color: vars.$gray;
  font-size: 16px;
  font-weight: 500;
}

.mainSlider__desktop-blocks {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  gap: 10px;

  @include responsive.media-breakpoint-up(768) {
    flex-direction: row;
    gap: 16px;
  }

  @include responsive.media-breakpoint-up(1024) {
    flex-direction: column;
    gap: 16px;
    min-width: 245px;
    max-width: 245px;
  }

  @include responsive.media-breakpoint-up(1600) {
    gap: 20px;
    min-width: 300px;
    max-width: 300px;
  }
}

  @include responsive.media-breakpoint-up(1200) {
    .swiper-scrollbar {
      display: none;
      height: 0;
    }
  }

  .swiper-scrollbar {
    background: #E3E3E3;
    border-radius: 26px;
    height: 3px;
    z-index: 1;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 78px;
    @include responsive.media-breakpoint-up(768) {
      bottom: -20px;
    }
    @include responsive.media-breakpoint-up(1200) {
      display: none;
      height: 0;
    }
  }
    .swiper-scrollbar-drag {
    background: vars.$red;
  }


.best__price-slider, .new-world-vk__slider, .main-shops__slider,
//.main-raitings__slider
{
  @include responsive.media-breakpoint-up(1200) {
    .swiper-arrows {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      justify-content: space-between;
      width: 100%;
      z-index: 5;

      .arrow-left, .arrow-right {
        width: 25px;
        height: 25px;
        z-index: 6;
        background-color: vars.$white;
        border: 1px solid vars.$lightgray;
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
        cursor: pointer;
        transition: .3s;
      }

      .arrow-left {
        border-radius: 0 4px 4px 0;
        &:hover {
          background-color: vars.$lightgray;
        }
      }

      .arrow-right {
        border-radius: 4px 0 0 4px;
        left: -1px;
        &:hover {
          background-color: vars.$lightgray;
        }
      }

      .arrow-left:before {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url("/src/images/components/header/arr.svg");
        width: 15px;
        height: 15px;
        &:hover {
          transform: rotate(90deg) translate(-50%, -50%) scale(1.1);
        }
      }

      .arrow-left.swiper-button-disabled,
      .arrow-right.swiper-button-disabled {
        transform: scale(0);
      }

      .arrow-right:before {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(270deg);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url("/src/images/components/header/arr.svg");
        width: 15px;
        height: 15px;
        &:hover {
          transform: rotate(270deg) translate(-50%, -50%) scale(1.1);
        }
      }
    }
  }
}

.card__img-slider {
  @include responsive.media-breakpoint-up(1200) {
    display: none;
    .swiper-arrows {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      display: flex;
      justify-content: space-between;
      .arrow-left, .arrow-right {
        width: 20px;
        height: 20px;
        background: vars.$red;
      }
    }
  }
  .swiper-pagination {
    bottom: 15px;
  }
}

.swiper-initialized {
  overflow-x: hidden;
  overflow-y: hidden;
  @include responsive.media-breakpoint-up(1200) {
    position: relative;
  }
}

.bestPrice .swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  left: 50%;
  bottom: 80px;
  z-index: 50;
  height: 2px;
  width: 90%;
}

@include responsive.media-breakpoint-up(768) {
  .bestPrice .best__price-slider,
  .new-world-vk .new-world-vk__slider {
    overflow: visible;

    .swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
      position: absolute;
      left: 50%;
      bottom: -29px;
      z-index: 50;
      height: 2px;
      width: 93%;
    }
  }
}

@include responsive.media-breakpoint-up(1200) {
  .bestPrice .best__price-slider,
  .new-world-vk .new-world-vk__slider {
    overflow: hidden;
  }
}


html .main__slider .swiper-pagination {
  z-index: 1;
  bottom: 23px;
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: vars.$white;
  }

  .swiper-pagination-bullet {
    background: rgba(255,255,255,.5)
  }
}

@include responsive.media-breakpoint-up(1600) {
  .mainSlider__desktop-block-img {
    max-height: 60px;
    max-width: 60px;
  }
}
