@use '../mixins/responsive';
@use "../vars";

.catalog {
  .select2 {
    min-width: 240px;
    max-width: 240px;
  }

  .select2-selection {
    display: flex!important;
    align-items: center;
    min-height: 44px;
    max-height: 44px;
    border-radius: 8px!important;
    border-color: #E3E3E3!important;
    @include responsive.media-breakpoint-down(1023)  {
      min-height: 40px;
      max-height: 40px;
    }
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    transform: translateY(-50%);
    top: 50%;
    background-image: url("/src/images/components/header/arr-gray.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
    transition: .3s;
    right: 14px;
    b {
      display: none;
    }
  }

  .select2-container--open .select2-selection__arrow {
    transform: translateY(-50%) rotate(180deg) !important;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: vars.$black;
    padding-left: 11px!important;
  }

  &__filter-btn--main {
    display: none;
  }

  &__sort-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include responsive.media-breakpoint-down(1023)  {
    .catalog__filter-btn--main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      border: 1px solid vars.$lightgray;
      border-radius: 8px;
      padding: 8px 10px;
      span {
        margin-right: 7px;
        font-size: 16px;
      }
      img {
        transition: .6s ease-in-out;
      }
      &.active img {
        transform: rotate(360deg);
      }
    }
  }

  @include responsive.media-breakpoint-down(568) {
    .catalog__filter-btn--main {
      padding: 9px 10px;
      span {
        display: none;
        margin-right: 0;
      }
    }
  }
}

.select2-dropdown {
  top: 4px!important;
  border-radius: 12px!important;
  border: 1px solid #E3E3E3!important;
}

.select2-results__option {
  padding: 11px!important;
  @include responsive.media-breakpoint-down(1023)  {
    padding: 9px!important;
  }
}

.select2-results__option--selected {
  background-color: vars.$lightgray2!important;
  color: vars.$black!important;
  position: relative;
  &:before {
    position: absolute;
    content: '';
    background-size: 14px;
    background-position: center;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    background-image: url("/src/images/components/header/gal.svg");
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
  }
}

.select2-results__option--highlighted {
  background-color: vars.$lightgray!important;
  color: vars.$black!important;
}

.select2-results__option:nth-child(1) {
  border-radius: 8px 8px 0 0;
}

.select2-results__option:nth-last-child(1) {
  border-radius: 0 0 8px 8px;
}
