extends layouts/Main

block title
  title ui
block content

  link(rel=stylesheet href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css")

  h1.h1 new world

  .swiper
    .swiper-wrapper
      .swiper-slide Slide 1
      .swiper-slide Slide 2
      .swiper-slide Slide 3
      .swiper-slide Slide 4
      .swiper-slide Slide 5
    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next

  a.btn Да, все верно
  a.btn--reverse Да, все верно
  a.btn--white Выбрать другой



