mixin a-banner()
  a.a-banner(href="#" style="background-color: #E05921")
    img.a-banner__image(src=src=require("../../images/product-banner-1.png") alt="Розетка")
    .a-banner__block-info 
      h3.a-banner__title Розетки в подарок при покупке люстры или светильника
      span.a-banner__date До 30.07.2023