mixin bot__menu()
  .bot__menu.lock
    a.bot__menu-item.active(href="javascript:void(0);")
      svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M3 9L12 2L21 9V20C21 20.5304 20.7893 21.0391 20.4142 21.4142C20.0391 21.7893 19.5304 22 19 22H5C4.46957 22 3.96086 21.7893 3.58579 21.4142C3.21071 21.0391 3 20.5304 3 20V9Z" stroke="#1C1F33" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
        path(d="M9 22V12H15V22" stroke="#1C1F33" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
      p Главная
    a.bot__menu-item.catalog(href="javascript:void(0);")
      svg(width="21" height="14" viewBox="0 0 21 14" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M0.75 1C0.75 0.801088 0.829018 0.610322 0.96967 0.46967C1.11032 0.329018 1.30109 0.25 1.5 0.25H18C18.1989 0.25 18.3897 0.329018 18.5303 0.46967C18.671 0.610322 18.75 0.801088 18.75 1C18.75 1.19891 18.671 1.38968 18.5303 1.53033C18.3897 1.67098 18.1989 1.75 18 1.75H1.5C1.30109 1.75 1.11032 1.67098 0.96967 1.53033C0.829018 1.38968 0.75 1.19891 0.75 1ZM1.5 7.75H8.25C8.44891 7.75 8.63968 7.67098 8.78033 7.53033C8.92098 7.38968 9 7.19891 9 7C9 6.80109 8.92098 6.61032 8.78033 6.46967C8.63968 6.32902 8.44891 6.25 8.25 6.25H1.5C1.30109 6.25 1.11032 6.32902 0.96967 6.46967C0.829018 6.61032 0.75 6.80109 0.75 7C0.75 7.19891 0.829018 7.38968 0.96967 7.53033C1.11032 7.67098 1.30109 7.75 1.5 7.75ZM9.75 12.25H1.5C1.30109 12.25 1.11032 12.329 0.96967 12.4697C0.829018 12.6103 0.75 12.8011 0.75 13C0.75 13.1989 0.829018 13.3897 0.96967 13.5303C1.11032 13.671 1.30109 13.75 1.5 13.75H9.75C9.94891 13.75 10.1397 13.671 10.2803 13.5303C10.421 13.3897 10.5 13.1989 10.5 13C10.5 12.8011 10.421 12.6103 10.2803 12.4697C10.1397 12.329 9.94891 12.25 9.75 12.25ZM20.0306 13.5306C19.961 13.6004 19.8783 13.6557 19.7872 13.6934C19.6962 13.7312 19.5986 13.7506 19.5 13.7506C19.4014 13.7506 19.3038 13.7312 19.2128 13.6934C19.1217 13.6557 19.039 13.6004 18.9694 13.5306L17.0625 11.6275C16.287 12.1391 15.3493 12.3447 14.4309 12.2043C13.5125 12.064 12.6789 11.5877 12.0916 10.8679C11.5044 10.148 11.2052 9.23574 11.2522 8.30789C11.2991 7.38004 11.6888 6.50265 12.3457 5.84572C13.0026 5.18879 13.88 4.7991 14.8079 4.75216C15.7357 4.70522 16.648 5.00437 17.3679 5.59164C18.0877 6.17891 18.564 7.0125 18.7043 7.93088C18.8447 8.84925 18.6391 9.78703 18.1275 10.5625L20.0306 12.4656C20.1009 12.5353 20.1567 12.6183 20.1948 12.7097C20.2329 12.8011 20.2525 12.8991 20.2525 12.9981C20.2525 13.0971 20.2329 13.1952 20.1948 13.2866C20.1567 13.378 20.1009 13.4609 20.0306 13.5306ZM15 10.75C15.445 10.75 15.88 10.618 16.25 10.3708C16.62 10.1236 16.9084 9.77217 17.0787 9.36104C17.249 8.9499 17.2936 8.4975 17.2068 8.06105C17.12 7.62459 16.9057 7.22368 16.591 6.90901C16.2763 6.59434 15.8754 6.38005 15.439 6.29323C15.0025 6.20642 14.5501 6.25097 14.139 6.42127C13.7278 6.59157 13.3764 6.87996 13.1292 7.24997C12.882 7.61998 12.75 8.05499 12.75 8.5C12.75 9.09674 12.9871 9.66903 13.409 10.091C13.831 10.5129 14.4033 10.75 15 10.75Z" fill="#1C1F33")
      p Каталог
    a.bot__menu-item(href="javascript:void(0);")
      .bot__menu-item-counter.bot__menu-item-cart-counter
        span 10
      svg(width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M19.9201 2.58C19.4184 2.07658 18.8223 1.67714 18.1659 1.40459C17.5095 1.13204 16.8058 0.991745 16.0951 0.991745C15.3844 0.991745 14.6806 1.13204 14.0243 1.40459C13.3679 1.67714 12.7718 2.07658 12.2701 2.58L11.5001 3.36L10.7301 2.58C10.2284 2.07658 9.63229 1.67714 8.97591 1.40459C8.31953 1.13204 7.6158 0.991745 6.90509 0.991745C6.19437 0.991745 5.49065 1.13204 4.83427 1.40459C4.17789 1.67714 3.58176 2.07658 3.08009 2.58C0.960086 4.7 0.830086 8.28 3.50009 11L11.5001 19L19.5001 11C22.1701 8.28 22.0401 4.7 19.9201 2.58Z" stroke="#1C1F33" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
      p Избранное
    a.bot__menu-item(href="javascript:void(0);")
      svg(width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M19.25 21V19C19.25 17.9391 18.8286 16.9217 18.0784 16.1716C17.3283 15.4214 16.3109 15 15.25 15H9.25C8.18913 15 7.17172 15.4214 6.42157 16.1716C5.67143 16.9217 5.25 17.9391 5.25 19V21" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
        path(d="M12.25 11C14.4591 11 16.25 9.20914 16.25 7C16.25 4.79086 14.4591 3 12.25 3C10.0409 3 8.25 4.79086 8.25 7C8.25 9.20914 10.0409 11 12.25 11Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
      p Профиль
    a.bot__menu-item(href="javascript:void(0);")
      .bot__menu-item-counter.bot__menu-item-cart-counter.visible
        span 10
      svg( width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M9 21.75C9.9665 21.75 10.75 20.9665 10.75 20C10.75 19.0335 9.9665 18.25 9 18.25C8.0335 18.25 7.25 19.0335 7.25 20C7.25 20.9665 8.0335 21.75 9 21.75Z" stroke="#1C1F33" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
        path(d="M18 21.75C18.9665 21.75 19.75 20.9665 19.75 20C19.75 19.0335 18.9665 18.25 18 18.25C17.0335 18.25 16.25 19.0335 16.25 20C16.25 20.9665 17.0335 21.75 18 21.75Z" stroke="#1C1F33" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
        path(d="M2.05005 2.05H4.05005L6.71005 14.47C6.80763 14.9249 7.06072 15.3315 7.42576 15.6199C7.7908 15.9082 8.24495 16.0604 8.71005 16.05H18.49C18.9452 16.0493 19.3865 15.8933 19.7411 15.6078C20.0956 15.3224 20.3422 14.9245 20.4401 14.48L22.09 7.05H5.12005" stroke="#1C1F33" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
      p Корзина


