mixin breadcrumbs ()
    .breadcrumbs
      a.breadcrumbs__item(href="/") Главная
      span >
      a.breadcrumbs__item(href="") Обои
      span >
      a.breadcrumbs__item Обои для стен
      span >
      p.breadcrumbs__item.breadcrumbs__item--last Название страницы
