mixin burger__catalog()
  .burger__catalog
    .burger__catalog-top
      button(type="button")
        img.burger__catalog-top-img(src=require("../../images/components/header/arr-back.svg") alt="back-arrow")
      span Каталог товаров
      button(type="button")
        img(src=require("../../images/components/header/close.svg") alt="close")
    .burger__catalog-body
      ul
        li
          a(href="javascript:void(0);") Свет
          ul
            li
              a(href="javascript:void(0);") Люстры
            li
              a(href="javascript:void(0);") Настенно-потолочные светильники
            li
              a(href="javascript:void(0);") Бра
            li
              a(href="javascript:void(0);") Точечные светильники
            li
              a(href="javascript:void(0);") Споты
            li
              a(href="javascript:void(0);") Торшеры
            li
              a(href="javascript:void(0);") Лампочки
        li
          a(href="javascript:void(0);") Обои
          ul
            li
              a(href="javascript:void(0);")  Обои_1
            li
              a(href="javascript:void(0);")  Обои_2
            li
              a(href="javascript:void(0);")  Обои_3
            li
              a(href="javascript:void(0);")  Обои_4
            li
              a(href="javascript:void(0);")  Обои_5
            li
              a(href="javascript:void(0);")  Обои_6
            li
              a(href="javascript:void(0);")  Обои_7
        li
          a(href="javascript:void(0);") Пол
          ul
            li
              a(href="javascript:void(0);") Пол 1
            li
              a(href="javascript:void(0);") Пол 2
            li
              a(href="javascript:void(0);") Пол 3
            li
              a(href="javascript:void(0);") Пол 4
            li
              a(href="javascript:void(0);") Пол 5
            li
              a(href="javascript:void(0);") Пол 6
            li
              a(href="javascript:void(0);") Пол 7
        li
          a(href="javascript:void(0);") Декор
          ul
            li
              a(href="javascript:void(0);") Значение 1
            li
              a(href="javascript:void(0);") Значение 2
            li
              a(href="javascript:void(0);") Значение 3
            li
              a(href="javascript:void(0);") Значение 4
            li
              a(href="javascript:void(0);") Значение 5
            li
              a(href="javascript:void(0);") Значение 6
            li
              a(href="javascript:void(0);") Значение 7
        li
          a(href="javascript:void(0);") Инструменты
          ul
            li
              a(href="javascript:void(0);") Значение 1
            li
              a(href="javascript:void(0);") Значение 2
            li
              a(href="javascript:void(0);") Значение 3
            li
              a(href="javascript:void(0);") Значение 4

        li
          a(href="javascript:void(0);") Клей и герметики
          ul
            li
              a(href="javascript:void(0);") Значение 1
            li
              a(href="javascript:void(0);") Значение 2
            li
              a(href="javascript:void(0);") Значение 3
            li
              a(href="javascript:void(0);") Значение 4
            li
              a(href="javascript:void(0);") Значение 5
            li
              a(href="javascript:void(0);") Значение 6

        li
          a(href="javascript:void(0);") Лампочки
          ul
            li
              a(href="javascript:void(0);") Значение 1
            li
              a(href="javascript:void(0);") Значение 2
            li
              a(href="javascript:void(0);") Значение 3
            li
              a(href="javascript:void(0);") Значение 4
            li
              a(href="javascript:void(0);") Значение 5
            li
              a(href="javascript:void(0);") Значение 6
            li
              a(href="javascript:void(0);") Значение 7
            li
              a(href="javascript:void(0);") Значение 8
            li
              a(href="javascript:void(0);") Значение 9
            li
              a(href="javascript:void(0);") Значение 10
            li
              a(href="javascript:void(0);") Значение 11
            li
              a(href="javascript:void(0);") Значение 12
            li
              a(href="javascript:void(0);") Значение 13
            li
              a(href="javascript:void(0);") Значение 14
            li
              a(href="javascript:void(0);") Значение 15
            li
              a(href="javascript:void(0);") Значение 16
            li
              a(href="javascript:void(0);") Значение 17
        li
          a(href="javascript:void(0);") Лучшая цена
          ul
            li
              a(href="javascript:void(0);") Значение 1
            li
              a(href="javascript:void(0);") Значение 2
            li
              a(href="javascript:void(0);") Значение 3
            li
              a(href="javascript:void(0);") Значение 4
            li
              a(href="javascript:void(0);") Значение 5
            li
              a(href="javascript:void(0);") Значение 6
        li.actions
          a(href="javascript:void(0);")
            img(src=require("../../images/components/header/actions.svg"))
            | Акции
          ul
            li
              a(href="javascript:void(0);") Значение 1
            li
              a(href="javascript:void(0);") Значение 2
            li
              a(href="javascript:void(0);") Значение 3
            li
              a(href="javascript:void(0);") Значение 4
            li
              a(href="javascript:void(0);") Значение 5
            li
              a(href="javascript:void(0);") Значение 6

