mixin city__search()
  .city__search
    .city__search-title
      p Укажите ваш город
      button(type="button")
        img(src=require("../../images/components/header/close.svg") alt="close")
    form
      label(for="sitySearch").city__search-label
        input(type="search" id="sitySearch" placeholder="Поиск города").city__search-input
    .city__search-result
      a.city__search-result-item(href="javscript:void(0);") Москва
      a.city__search-result-item(href="javscript:void(0);") Санкт-Петербург
      a.city__search-result-item(href="javscript:void(0);") Краснодар
      a.city__search-result-item.city__search-result-item--active(href="javscript:void(0);") Славянск на Кубани
      a.city__search-result-item(href="javscript:void(0);") Ростов на Дону
      a.city__search-result-item(href="javscript:void(0);") Сочи
      a.city__search-result-item(href="javscript:void(0);") Екатеринбург
      a.city__search-result-item(href="javscript:void(0);") Новосибирск
      a.city__search-result-item(href="javscript:void(0);") Красноярск
      a.city__search-result-item(href="javscript:void(0);") Москва
      a.city__search-result-item(href="javscript:void(0);") Санкт-Петербург
      a.city__search-result-item(href="javscript:void(0);") Краснодар
      a.city__search-result-item(href="javscript:void(0);") Славянск на Кубани
      a.city__search-result-item(href="javscript:void(0);") Ростов на Дону
      a.city__search-result-item(href="javscript:void(0);") Сочи
      a.city__search-result-item(href="javscript:void(0);") Екатеринбург
      a.city__search-result-item(href="javscript:void(0);") Новосибирск
      a.city__search-result-item(href="javscript:void(0);") Красноярск
      a.city__search-result-item(href="javscript:void(0);") Москва
      a.city__search-result-item(href="javscript:void(0);") Санкт-Петербург
      a.city__search-result-item(href="javscript:void(0);") Краснодар
      a.city__search-result-item(href="javscript:void(0);") Славянск на Кубани
      a.city__search-result-item(href="javscript:void(0);") Ростов на Дону
      a.city__search-result-item(href="javscript:void(0);") Сочи
      a.city__search-result-item(href="javscript:void(0);") Екатеринбург
      a.city__search-result-item(href="javscript:void(0);") Новосибирск
      a.city__search-result-item(href="javscript:void(0);") Красноярск
      p.city__search-result-item.city__search-result-item--no-res К сожалению, такого города не найдено.

