mixin city__choose()
  .city__choose
    button(type="button").city__choose-close
      img(src=require("../../images/components/header/close.svg") alt="close")
    p.city__choose-title Ваш город
    p.city__choose-city Ростов на Дону
    .city__choose-btns
      a(href="javascript:void(0);").city__choose-btn.btn--white Выбрать другой
      a(href="javascript:void(0);").city__choose-btn.btn Да, все верно

