mixin pagination()
  .pagination
    a.pagination__item.active(href="javascript:void(0);") 1
    a.pagination__item(href="javascript:void(0);") 2
    a.pagination__item(href="javascript:void(0);") 3
    span.pagination__separator ...
    a.pagination__item(href="javascript:void(0);") 8
    a.pagination__item(href="javascript:void(0);") 9
    a.pagination__item(href="javascript:void(0);") 10
